#title2 {
  margin: 10px;
  text-align: center;
  background: rgb(200, 200, 200);
}
#content {
  text-align: center;
}
#konzatu {
/*
  border: 1px solid #000;
  width: 300px;
  height: 100px;
  line-height: 100px;
  text-align: center;
*/
  font-size: 60pt;
}
.tani {
  font-size: 30pt;
}
.opt01 {
  font-size: 30pt;
}
#ninzu {
  font-size: 30pt;
  }
.opt02 {
  font-size: 30pt;
}
.calbutton {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 20pt;
}

#num_box {
  margin: 10px;
  background: #faa;
}

#button {
  padding: 10px;
  background: #aaf;
}

#num1, #num2 {
  width: 60px;
}